In [ ]:
# load dataset
import pandas as pd
df = pd.read_csv('multimodal_dataset_final1_8.csv')

In [2]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Log_Returns,Volatility_Log_10,cl-op,...,total_greed_intent,total_question_intent,total_action_intent,sentiment_minus_uncertainty,sentiment_minus_fear,sentiment_minus_action,sentiment_minus_urgency,sentiment_minus_prediction,Next_3_Close,Next_7_Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,NaN,NaN,25.128907,...,0.25,0.363636,0.500,0.025843,-0.974157,-0.974157,0.025843,-0.307490,17409.720703,17780.830078
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234,-0.001080,NaN,217.230468,...,0.25,0.363636,0.250,-0.238229,-0.238229,-0.071562,0.428438,-0.238229,17140.240234,17829.730469
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688,-0.013211,NaN,238.660157,...,0.00,0.454545,0.375,0.197063,-0.136270,-0.552937,-0.302937,0.197063,17400.750000,17804.869141
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703,-0.016235,NaN,219.210937,...,0.50,0.545455,0.375,-0.642541,0.024126,-0.725874,-0.475874,-0.642541,18011.070312,17675.160156
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234,-0.015600,NaN,-214.970704,...,0.25,0.181818,0.375,-0.571208,-0.237874,-0.654541,-0.404541,-0.571208,17780.830078,17733.099609

In [ ]:
intent_columns = [col for col in df.columns if '_intent' in col]
for col in intent_columns:
    print(f"Column: {col}")
    print(f"  Max: {df[col].max()}")
    print(f"  Min: {df[col].min()}")
    print()

Column: news_buying_intent
  Max: 1.0
  Min: 0.0

Column: news_selling_intent
  Max: 1.0
  Min: 0.0

Column: news_uncertainty_intent
  Max: 1.0
  Min: 0.0

Column: news_urgency_intent
  Max: 1.0
  Min: 0.0

Column: news_prediction_intent
  Max: 1.0
  Min: 0.0

Column: news_fear_intent
  Max: 1.0
  Min: 0.0

Column: news_greed_intent
  Max: 1.0
  Min: 0.0

Column: news_question_intent
  Max: 1.0
  Min: 0.0

Column: news_action_intent
  Max: 1.0
  Min: 0.0

Column: reddit_buying_intent
  Max: 1.0
  Min: 0.0

Column: reddit_selling_intent
  Max: 1.0
  Min: 0.0

Column: reddit_uncertainty_intent
  Max: 1.0
  Min: 0.0

Column: reddit_urgency_intent
  Max: 1.0
  Min: 0.0

Column: reddit_prediction_intent
  Max: 1.0
  Min: 0.0

Column: reddit_fear_intent
  Max: 1.0
  Min: 0.0

Column: reddit_greed_intent
  Max: 1.0
  Min: 0.0

Column: reddit_question_intent
  Max: 1.0
  Min: 0.0

Column: reddit_action_intent
  Max: 1.0
  Min: 0.0

Column: total_buying_intent
  Max: 1.0
  Min: 0.0

Column: total_selling_intent
  Max: 1.0
  Min: 0.0

Column: total_uncertainty_intent
  Max: 1.0
  Min: 0.0

Column: total_urgency_intent
  Max: 1.0
  Min: 0.0

Column: total_prediction_intent
  Max: 1.0
  Min: 0.0

Column: total_fear_intent
  Max: 1.0
  Min: 0.0

Column: total_greed_intent
  Max: 1.0
  Min: 0.0

Column: total_question_intent
  Max: 1.0
  Min: 0.0

Column: total_action_intent
  Max: 1.0
  Min: 0.0

In [ ]:
sentiment_columns = [col for col in df.columns if 'sentiment_minus' in col]
for col in sentiment_columns:
    print(f"Column: {col}")
    print(f"  Max: {df[col].max()}")
    print(f"  Min: {df[col].min()}")
    print()

Column: sentiment_minus_uncertainty
  Max: 0.8709523916244506
  Min: -2.0

Column: sentiment_minus_fear
  Max: 0.8709523916244506
  Min: -2.0

Column: sentiment_minus_action
  Max: 0.5448540829122066
  Min: -2.0

Column: sentiment_minus_urgency
  Max: 0.8446768168359995
  Min: -2.0

Column: sentiment_minus_prediction
  Max: 0.811383741348982
  Min: -2.0

#### Since the min-max values of sentiment and intent were a mismatch, they were normalized in the ESMPT_v1.8 code

In [ ]:
df["Next_Close"] = df["Close"].shift(-1)
# This is a shifted version of the Close column, which is not a good target for prediction
# as it introduces data leakage and hence it was removed in the next versions of the Code.

In [6]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Log_Returns,Volatility_Log_10,cl-op,...,total_question_intent,total_action_intent,sentiment_minus_uncertainty,sentiment_minus_fear,sentiment_minus_action,sentiment_minus_urgency,sentiment_minus_prediction,Next_3_Close,Next_7_Close,Next_Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,NaN,NaN,25.128907,...,0.363636,0.500,0.025843,-0.974157,-0.974157,0.025843,-0.307490,17409.720703,17780.830078,17929.990234
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234,-0.001080,NaN,217.230468,...,0.363636,0.250,-0.238229,-0.238229,-0.071562,0.428438,-0.238229,17140.240234,17829.730469,17694.679688
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688,-0.013211,NaN,238.660157,...,0.454545,0.375,0.197063,-0.136270,-0.552937,-0.302937,0.197063,17400.750000,17804.869141,17409.720703
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703,-0.016235,NaN,219.210937,...,0.545455,0.375,-0.642541,0.024126,-0.725874,-0.475874,-0.642541,18011.070312,17675.160156,17140.240234
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234,-0.015600,NaN,-214.970704,...,0.181818,0.375,-0.571208,-0.237874,-0.654541,-0.404541,-0.571208,17780.830078,17733.099609,17400.750000

In [ ]:
df.to_csv('B:/DCU/Practicum/Proj/Dataset/main/processed/multimodal_dataset_final_v4.csv', index=False)

In [ ]:
df1 = pd.read_csv('B:/DCU/Practicum/Proj/Dataset/main/processed/multimodal_dataset_final_v4.csv')

In [9]:
# check date column type
print(df1['Date'].dtype)

object

In [10]:
# convert date column to datetime
df1['Date'] = pd.to_datetime(df1['Date'])

In [11]:
print(df1['Date'].dtype)

datetime64[ns]

In [ ]:
df.to_csv('B:/DCU/Practicum/Proj/Dataset/main/processed/multimodal_dataset_final_v4_1.csv', index=False)

In [ ]:
df_v3 = pd.read_csv('B:/DCU/Practicum/Proj/Dataset/main/processed/multimodal_dataset_final3.csv')
df_v4 = pd.read_csv('B:/DCU/Practicum/Proj/Dataset/main/processed/multimodal_dataset_final_v4_1.csv')

In [17]:
set(df_v3.columns) ^ set(df_v4.columns)  # Shows added/dropped columns

{'Combined_Reddit_News',
 'FinBERT_news_label',
 'FinBERT_reddit_label',
 'Next_3_Close',
 'Next_7_Close',
 'Next_Close',
 'Smart_news_label',
 'Smart_reddit_label',
 'combined_news'}

In [18]:
df_v3.shape

(1989, 59)

In [19]:
df_v4.shape  # Compare row counts

(1989, 56)

In [20]:
# df_v3["Next_Close"].describe()
df_v4["Next_Close"].describe()  # If present

count     1988.000000
mean     13460.775546
std       3143.186308
min       6547.049805
25%      10911.889893
50%      13023.700195
75%      16473.879395
max      18312.390625
Name: Next_Close, dtype: float64